<div class="grid-container masthead">
    <div class="grid-x grid-padding-x">
        <div class="cell left medium-8">
            <span class="">Messenger</span>
        </div>
        <div class="cell right medium-4">
            <span class="">Demo</span>
        </div>
    </div>
</div>