<%- include('./partials/header'); %>
<header>
    <%- include('./partials/masthead'); %>
</header>
<section>
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-12">
                <h1>Landing Page</h1>
            </div>
            <div class="cell large-12">
                <a class="button" href="/login">Login</a>
            </div>
            <div class="cell large-12">
                <div class="description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In blandit odio id turpis gravida commodo. Aliquam sollicitudin lacus non elit cursus venenatis. Maecenas commodo est vel ligula porttitor bibendum. Nam eget arcu a risus ornare imperdiet imperdiet in purus. Aliquam eu gravida ipsum, eget finibus erat. Integer sed dolor dictum, accumsan ligula ac, hendrerit ipsum. Maecenas interdum ex magna, vel vulputate eros porta at. Nunc convallis dignissim justo, vel mattis metus. Integer sed feugiat orci. Morbi mollis libero sed mauris luctus luctus. Ut sollicitudin at lectus nec pharetra. Quisque euismod luctus ex id aliquet.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('./partials/footer'); %>