<%- include('./partials/header'); %>
<header>

</header>
<div class="grid-container">
    <div class="cell large-12">
        <% if(this.name) { %>
            <p><%- name %> has bee registered.</p>
        <% } %>
    </div>
</div>
<%- include('./partials/footer'); %>