<%- include('./partials/header'); %>
<header>
    <%- include('./partials/masthead'); %>
</header>
<section>
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-12">
                <p>You have been logged out.</p>
            </div>
            <div class="cell large-12">
                <a href="/" class="button">Back to Home</a>
            </div>
        </div>
    </div>
</section>
<%- include('./partials/footer'); %>