<%- include('./partials/header'); %>
<header>
    <%- include('./partials/masthead'); %>
</header>
<div class="grid-container">
    <div class="cell large-12">
        <form class="registerForm" data-abide method="post" action="/register">
            <div class="grid-container">
                <div class="grid-x grid-margin-x">
                    <div class="cell medium-6">
                        <label>First Name
                            <input id="firstname" name="firstname" type="text" placeholder="Ex: Jeff" pattern="alpha" required/>
                        </label>
                    </div>
                    <div class="cell medium-6">
                        <label>Last Name
                            <input id="lastname" name="lastname" type="text" placeholder="Ex: Lebowski" pattern="alpha" required/>
                        </label>
                    </div>
                    <div class="cell medium-6">
                        <button type="submit" id="submit-btn" value="Submit" class="button">Register</button>
                    </div>
                    <div class="cell medium-12">
                        <% if(locals.parsedErrors) { %>
                            <p><%- parsedErrors %></p>
                        <% } %>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<%- include('./partials/footer'); %>