<%- include('./partials/header'); %>
<header>
    <%- include('./partials/masthead'); %>
</header>
<div class="grid-container">
    <div class="cell large-12">
        <form data-abide method="post" action="/register">
            <div class="grid-container">
                <div class="grid-x grid-margin-x">
                    <div class="cell medium-6">
                        <label>Name
                            <input id="name" name="name" type="text" placeholder="Ex: Jeff Lebowski" pattern="full-name" required/>
                        </label>
                    </div>
                    <div class="cell medium-6">
                        <label>User ID
                            <input id="userID" name="userID" type="text" placeholder="Ex: wonderboy27" pattern="alpha_numeric" required/>
                        </label>
                    </div>
                    <div class="cell medium-6">
                        <label>Password
                            <input id="pwd1" name="pwd1" type="text" placeholder="Type something..." required/>
                        </label>
                    </div>
                    <div class="cell medium-6">
                        <label>Repeat Password
                            <input id="pwd2" name="pwd2" type="text" placeholder="Type the same thing..." required/>
                        </label>
                    </div>
                    <input type="hidden" name="password" id="password" value="test">
                    <div class="cell medium-6">
                        <button type="submit" id="submit-btn" value="Submit" class="button">Register</button>
                    </div>
                    <div class="cell medium-6">
                        <% if(locals.err_msg) { %>
                            <p><%- err_msg %></p>
                        <% } %>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<%- include('./partials/footer'); %>